# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=mysql://root:@localhost:3306/flushmail?connection_limit=5

# Next Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GITHUB
GITHUB_ID=
GITHUB_SECRET=
